body {
	background: #323232;
	font-family: monospace;
}

h1 {
	color: white;
	font-size: 32px;
}

a {
	text-decoration: none;
	color: white;
	font-size: 21px;
}

#board td {
	background-color: #36AFAB;
	color: white;
	width: 125px;
	height: 125px;
	text-align: center;
	font-size: 100px;
	cursor: pointer;
	border-radius: 25px;
}

#board td:hover {
	background-color: #1F5B59;
	-webkit-transition: background-color, 0.3s ease-in-out;
	transition: background-color, 0.3s ease-in-out;
}

#panel {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 7%;
}

#restart {
	background-color: #2ECC71;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

#restart:hover {
	background-color: #27AE60;
	-webkit-transition: background-color, 0.3s ease-in-out;
	transition: background-color, 0.3s ease-in-out;
}